{% extends "base.html" %}

{% block content %}
    <!-- <h1>Olá, {{ current_user.username }}</h1> -->
    <p>Bem-vindo ao GerenTar, visualize e adicione tarefas!</p>
    {% if posts %}
        {% for post in posts %}
        <div>
            <!-- {{ post.id }} -->
            <p>Tarefa: <b>{{ post.body }}</b></p>
            <p>Até o dia: {{ post.deadline.strftime('%d/%m/%Y') if post.deadline else 'Sem data limite' }}</p>
            <form action="{{ url_for('complete_task', task_id=post.id) }}" method="post" style="display:inline;">
                {{ form.hidden_tag() }}
                <button type="submit" class="btn btn-success">Marcar como concluída</button>
            </form>
        </div>
        {% endfor %}
    {% else %}
        <p>Você ainda não tem tarefas adicionadas.</p>
    {% endif %}
    
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.body.label }} 
            {{ form.body(size=32) }} 
            <!-- Mensagem de erro -->
            {% for error in form.body.errors %}
            <span style="color: tomato;">{{ error }}</span>
            {% endfor %}
            {{ form.deadline.label }} 
            {{ form.deadline() }} 
            {{ form.submit() }}
        </p>

    </form>

    {% if posts_check %}
        {% for post in posts_check %}
        <div>
            <!-- {{ post.id }} -->
            <p>Tarefa: <b>{{ post.body }}</b></p>
            <p>Até o dia: {{ post.deadline.strftime('%d/%m/%Y') if post.deadline else 'Sem data limite' }}</p>
            <p>Status: <span style="color: green;">Concluída</span></p>
            <form action="{{ url_for('incomplete_task', task_id=post.id) }}" method="post" style="display:inline;">
                {{ form.hidden_tag() }}
                <button type="submit" class="btn btn-success">Marcar como não concluída</button>
            </form>
        </div>
        {% endfor %}
    {% else %}
        <p>Você ainda não tem tarefas concluídas.</p>
    {% endif %}

{% endblock %}
